/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.like-icon.is-liked .heart_core {
  fill: var(--liked-heart-clr);
  transition: fill 0.3s;
}

.like-icon.is-liked .heart_main-body {
  fill: var(--liked-heart-clr);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .heart_contour {
  fill: var(--liked-heart-clr);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in alternate 0.1s;
}

.like-icon.is-liked .heart_sparks {
  will-change: opacity;
  animation: flash 0.3s ease-in alternate 0.3s;
}
    
.like-icon:not(.is-liked) .heart_core {
  fill: transparent;
  transition: fill 0.3s ease-in;
}

.like-icon:not(.is-liked) .heart_main-body {
  fill: transparent;
  transition: fill 0.3s ease-in;
}

.like-icon:not(.is-liked):hover .heart_core {
  fill: var(--main-color);
}

.like-icon:not(.is-liked):hover .heart_main-body {
  fill: var(--main-color);
}

.like-icon:not(.is-liked):active .heart_core {
  fill: var(--liked-heart-clr);
}

.like-icon:not(.is-liked):active .heart_main-body {
  fill: var(--liked-heart-clr);
}

.like-icon:not(.is-liked):active .heart_contour {
  fill: var(--liked-heart-clr);
}

.button:hover .button__text {
  animation: txt-clr-animate var(--a-time-btn-txt-clr) ease;
}

.button:hover .save-button__floppy-img {
  animation: floppy-clr-animate var(--a-time-btn-txt-clr) ease;
}

@keyframes row {
  from {
    translate: 0 0;
  }

  50% {
    translate: 4px 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes txt-clr-animate {
  from {
    color: var(--animate-btn-txt-clr);
  }

  to {
    color: var(--main-color);
  }
}

@keyframes floppy-clr-animate {
  from {
    fill: var(--animate-btn-txt-clr);
  }

  to {
    fill: var(--main-color);
  }
}
